.container {
  padding: 1rem;
  .leftText {
    color: var(--gray-900);
    .title {
      font-weight: bold;
      font-size: 3rem;
    }
    .subtitle {
      font-size: 2rem;
    }
  }
  .rightImage {
    width: 100%;
    height: auto;
  }
}

