.layoutHeader {
  padding-left: 16px;
  background-color: var(--blue-300);
}

.layout {
  height: calc(100vh - 4rem);
  .sider {
    background-color: var(--blue-300);
    .menu {
      background-color: var(--blue-300);
      svg {
        width: 1.3em;
        height: 1.3em;
       
        path {
          stroke:currentColor;
        }
      }
    }
  }

}

.content {
  margin: 16px;
  padding: 24;
  min-height: 280;
}