.layoutHeader {
  padding-left: 16px;
  background-color: var(--blue-300);
}

.layout {
  height: calc(100vh - 4rem);
  .sider {
    background-color: var(--blue-300);
    .menu {
      background-color: var(--blue-300);
    }
  }

}

.content {
  margin: 16px;
  padding: 24;
  min-height: 280;
}